@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff"); }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
  font-family: "San Francisco", sans-serif;
}

  .head-btns{
    background-color: #323233;
    color: #D6D6D6;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    font-size: 1.3em;
  }

  .head-btns i:hover {
    color: white;
    transition: 0.33s ease;
  }
  header nav{
    display: none;
  }
  .main .card{
    text-align: center;
    width: 100%;
    height: 50%;
    padding: 40px 20px;
  }
  .main .card ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    list-style-type: none;
    
  }

  .main .card ul a{
    text-decoration: none;
  }

  .main-1 {
    display: block;
    background-image: url('./assets/main1.jpg');
    background-size: 100vw 60vh;
    background-repeat: no-repeat;
  }

